@page "/database"
@using Models
@using Data

@inject NavigationManager NavMan
<div class=row>
    <h3>Database</h3>
</div>
<div class="row p-3">
    <div class="col-sm-12">
        <h5>
            This page demonstrates the ability to find someone quickly in @Repo.PersonList.Count.ToString() records.
            The Help button provides more information about the data
        </h5>
    </div>
    <div class="col-sm-12">
        <h5>
            At the end of the page there are some notes about the advantages of fast look up.<a class="btn btn-sm btn-outline-info ml-2" href="javascript: document.body.scrollIntoView(false);"><i class="fas fa-arrow-down"></i></a>
        </h5>
    </div>
    <div class="col-sm-12">
        <h5>
            Although the buttons imply that you will be changing and saving a record, the changes only last until you close the page.  In a real system these changes would be stored in a web database.
        </h5>
    </div>
</div>
<div class="align-middle d-sm-inline-flex w-100 d-flex justify-content-center border-bottom p-3" style="height:auto;background-color:azure">
    <label class="label pt-2" style="display:block; width:10em">Select Search Type</label>
    <select class="form-control dropdown" style="max-width:16em"
            @onchange="SearchTypeOnChange">
        @if (SearchTypeList.Count > 0)
        {
            @foreach (var type in SearchTypeList)
            {
                <option value="@type">@type</option>
            }
        }
    </select>
    @if (ShowSearchParam)
    {
        <label class="label pt-2" style="padding-left:1em">&nbsp;Filter&nbsp;</label>
        <input @oninput="SearchParamOnInput" value="@FilterParameter"
           class="form-control" type="text" style="max-width:8em;background-color:cornsilk" />
    }
    else
    {
        <label class="control-label pt-2" style="width:7em;text-align:center">&nbsp;Date-From&nbsp;</label>
        <input class="form-control mr-2" type="date" @bind="DateFrom" style="width:10em" />
        <label class="control-label pt-2" style="width:7em;text-align:center">Date-To</label>
        <input class="form-control mr-2" type="date" @bind="DateTo" style="width:10em" />
        <button type="button" class="btn btn-primary" @onclick="DateFilterClick" style="width:5em">
            Filter
        </button>
    }
    <button type="button" class="fas fa-question-circle d-flex justify-content-end"
            @onclick="ShowHelpSearchParamClick"
            style="font-size:1em;border:none;color:#0000EE;
                            background-color:transparent;cursor:pointer">
    </button>
</div>

@if (SearchParamError.Length > 0)
{
    <div class="alert alert-danger alert-dismissible mt-2" role="alert" style="height:auto;color:black;font-weight:700;">
        <span class="oi oi-warning" style="font-size:1.5em;color:red" aria-hidden="true"></span>
        &nbsp;@SearchParamError.ToString()
    </div>
}
@if (ShowPersonModal)
{
    <div id="personModal" class="modal" tabindex="-1" style="display:block" role="dialog">
        <div class="modal-dialog  modal-sm">
            <div class="modal-content">
                <EditForm id="personForm" Model="@SelectedPerson" OnSubmit="@OnSubmitPerson">
                    <DataAnnotationsValidator />
                    <div class="modal-header @ModalHeaderColour text-white">
                        <div class="row">
                            <h3 class="modal-title">
                                @ModalTitleCaption
                            </h3>
                        </div>
                    </div>
                    <div class="modal-body" style="background-color:gainsboro">
                        @if (PersonModalDangerMessage.Length > 0)
                        {
                            <div class="alert alert-danger" role="alert">
                                @PersonModalDangerMessage;
                            </div>
                        }
                        <label class="control-label mt-2">Title (Click to select)</label>
                        <InputSelect class="form-control" @bind-Value="SelectedPerson.Title">
                            <option value="">@SelectString</option>
                            <option value="Mr">Mr</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Ms">Ms</option>
                            <option value="NotStated">Not Stated</option>
                        </InputSelect>
                        <ValidationMessage For="@(() => SelectedPerson.Title)" />

                        <label class="control-label mt-2">Last Name</label>
                        <InputText id="LastName" class="form-control" @bind-Value="SelectedPerson.LastName" />
                        <ValidationMessage For="@(() => SelectedPerson.LastName)" />

                        <label class="control-label mt-2">Middle Name</label>
                        <InputText id="MiddleName" class="form-control" @bind-Value="SelectedPerson.MiddleName" />

                        <label class="control-label mt-2">First Name</label>
                        <InputText id="FirstName" class="form-control" @bind-Value="SelectedPerson.FirstName" />
                        <ValidationMessage For="@(() => SelectedPerson.FirstName)" />

                        <label class="control-label mt-2">Company Name</label>
                        <InputText id="CompanyName" class="form-control" @bind-Value="SelectedPerson.CompanyName" />
                        <ValidationMessage For="@(() => SelectedPerson.CompanyName)" />

                        <label class="control-label mt-2">Phone</label>
                        <InputText id="Phone" class="form-control" @bind-Value="SelectedPerson.Phone" />
                        <ValidationMessage For="@(() => SelectedPerson.Phone)" />

                        <label class="control-label mt-2">Email Address</label>
                        <InputText id="EmailAddress" class="form-control" @bind-Value="SelectedPerson.EmailAddress" />
                        <ValidationMessage For="@(() => SelectedPerson.EmailAddress)" />

                        <label class="control-label mt-2">Modified Date</label>
                        <label class="form-control" readonly>@SelectedPerson.ModifiedDate.ToString("HH:mm ddd dd MMM yyyy")</label>
                        <label class="control-label mt-2">ID</label>
                        <label class="form-control" style="height:auto" readonly>@SelectedPerson.Id.ToString()</label>

                    </div>
                    <div class="modal-footer" style="background-color:silver">
                        <div class="col d-flex justify-content-start">
                            <button type="submit" class="btn btn-success">
                                Save
                            </button>
                        </div>

                        <div class="col d-flex justify-content-end">
                            <button type="button" class="btn alert-primary"
                                @onclick="HidePersonModalClick">
                                Cancel
                            </button>
                        </div>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
@if (ShowHelpModal)
{
    <div class="modal" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color:Navy;color:white">
                    <h3 class="modal-title">
                        Help
                    </h3>
                </div>
                <div class="modal-body">
                    <h4>Records</h4>
                    <p>
                        There are 847 fictitious records in the data set, these were taken from the Customers table
                        of Microsoft's Adventureworks LT2017 database.
                    </p>
                    <p>
                        If you add, alter or delete a record those changes will only take place whilst the form is loaded.
                        If you navigate to another form and then return, the original data will appear.
                    </p>
                    <p>
                        There is a limit of 900 records on the table to prevent malign attacks.
                    </p>

                    <h4>Searching - Names, ID etc.etc</h4>
                    <p>
                        You can search for any of the values in the drop down list.  The functionality demonstrates filtering as you type.
                        Using the first three or four characters of the ID finds the record quickly with very few false positives.
                        Users find this is the quickest way to bring up the target record.
                    </p>
                    <h4>Searching - Dates</h4>
                    <p>
                        The date-search allows to you search over a range of dates or, if you insert the same date in Date-From and Date-To it will return records just for that day.
                        The date-range for the demo data runs from 12 Jan 2018 to 5 May 2020.
                    </p>
                    <h4>Searching - Email Address</h4>
                    <p>
                        The ability to search for an email address is helpful if you send out group emails and you get 'bouncers' from incorrect email addresses.
                    </p>
                    <h4>Searching - Telephone Number</h4>
                    <p>
                        This comes in useful when a colleague with scrawly handwriting takes a message and leaves a note with an illegible phone number.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        @onclick="HideHelpModalClick">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
}
@if (ShowErrorModal)
{
    <div class="modal" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog small">
            <div class="modal-content">
                <div class="modal-header" style="background-color:firebrick;color:white">
                    <h3 class="modal-title">
                        Error
                    </h3>
                </div>
                <p>
                    @ErrorMessage.ToString()
                </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                        @onclick="HideHelpModalClick">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
}
@if (ShowDeleteModal)
{
    <div class="modal" tabindex="-1" style="display:block;" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header" style="background-color:red;color:white">
                    <h3 class="modal-title">
                        Delete
                    </h3>
                </div>
                <div class="modal-body">
                    <h4>Do you want to permanently delete the record for...</h4> <br />
                    <div class="form-row">
                        <h4>@SelectedPerson.FirstName&nbsp;@SelectedPerson.LastName?</h4>
                    </div>
                    <br />
                    <div class="form-row">
                        <h5>ID:&nbsp;@SelectedPerson.Id</h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <label>Note: this is a demo deletion.  Next time the form opens, all the demo data will re-appear</label>
                    <div class="col d-flex justify-content-start">
                        <button type="button" class="btn btn-danger ml-2" style="width:5em"
                            @onclick="() => DeleteSelectedPerson(SelectedPerson.Id.ToString())">
                            Yes
                        </button>
                    </div>
                    <div class="col d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" style="width:5em"
                            @onclick="HideDeleteModalClick">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!--Table-->
<table class="table table-striped table-responsive w-100 d-block d-md-table">
    <thead class="thead-dark">
        <tr>
            <th style="text-align:left" scope="col">
                <button class="btn btn-success" type="button"
                        style="width:5em" @onclick="() => PersonButtonClick(Guid.Empty)">
                    New
                </button>
            </th>
            <th style="text-align:center" scope="col">ID</th>
            <th style="text-align:center" scope="col">Title</th>
            <th style="text-align:center" scope="col">Last Name</th>
            <th style="text-align:center" scope="col">First Name</th>
            <th style="text-align:center" scope="col">Phone</th>
            <th style="text-align:center" scope="col">Email</th>
            <th style="text-align:center" scope="col">Date Modified</th>
            <th style="text-align:center">Rows:&nbsp;@FilteredList.Count.ToString()</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person person in FilteredList)
        {
            <tr>
                <td>
                    <button class="btn btn-primary" type="button" @onclick="() => PersonButtonClick(person.Id)" //EditPersonButtonClick
                        style="width:5em">
                        Edit
                    </button>
                </td>
                <td style="width:12em">@person.Id.ToString()</td>
                <td>@person.Title</td>
                <td>@person.LastName</td>
                <td>@person.FirstName</td>
                <td><a href="tel:@person.Phone">@person.Phone</a></td>
                <td><a href="mailto:@person.EmailAddress.ToString()">@person.EmailAddress</a></td>
                <td style="text-align:center">@person.ModifiedDate.ToString("HH:mm ddd dd MMM yyyy")</td>
                <td style="text-align:center">
                    <button class="btn btn-danger" type="button" @onclick="() => DeleteClick(person.Id.ToString())"
                        style="width:5em">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row">
    <div class="row w-100 pl-3"
         style="background-color:aqua;color:black;border-radius:10px; height:auto">
         <div class="col d-flex justify-content-center pt-2">
        <h3>Benefits</h3>
         </div>

    </div>
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Intuitive Design</h4>
                <h5 class="card-text">
                    Our experience shows that staff take to this sort of search-and-find functionality immediately.
                </h5>
                <h5 class="card-text">
                    Strangely enough, being able to find someone using the first
                    three or four digits of their ID turns out to be the preferred method of searching.
                </h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Reduced Training</h4>
                <h5 class="card-text">
                    Training is the oil of efficiency and should always accompany the
                    introduction of this type of system.  Covid-19 has shown that
                    remote-working is a pragmatic option for a digital society; forms like this reduce training time.
                </h5>
                <h5 class="card-text">
                    As long as the system uses a consistent design and does not crowd
                    forms with buttons galore, training takes less time.
                </h5>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Accuracy and Immediate Communication</h4>
                <h5 class="card-text">
                    Being able to correct or bring up-to-date a person's record at the
                    touch of a button means that staff can keep data in step with reality with little effort.
                </h5>
                <h5 class="card-text">
                    Making a telephone call by simply clicking a number or sending an
                    email by clicking an email address enhances a company's reputation for responsiveness.
                </h5>
             <h5 class="card-text">
                    It is possible to send bulk emails; if you send less than 25,000 a month these cost nothing.
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="mt-4">
    <a class="btn btn-sm btn-info" href="javascript: document.body.scrollIntoView(true);">Top</a>
</div>
@code {
    private bool ShowSearchParam = true;
    private bool ShowErrorModal = false;
    private string PersonModalDangerMessage = "";
    private string ErrorMessage = string.Empty;
    private bool ShowPersonModal { get; set; } = false;
    private bool ShowHelpModal = false;
    private bool ShowDeleteModal = false;
    private string SelectString = "Select...";
    private string ModalHeaderColour = "bg-success";

    DateTime? DateFrom = null;
    DateTime? DateTo = null;

    private List<string> SearchTypeList = Globals.GetSearchTypeList();

    private DataRepo Repo = new DataRepo();
    private List<Person> FilteredList = new List<Person>();

    // Start off showing a search for Last Name Begins
    private string SearchType = Globals.LastNameStarts;
    private string FilterParameter = "van"; //Demo start-up name fragment

    private string SearchParamError = string.Empty;
    private Person SelectedPerson { get; set; } = new();
    private string ModalTitleCaption = string.Empty;

    protected override void OnInitialized()
    {
        Repo.LoadList();
        FilteredList = Repo.PersonList.FindAll(x => x.LastName.ToLower().StartsWith(FilterParameter.ToLower())).ToList();
    }
    private void SearchTypeOnChange(ChangeEventArgs e)
    {
        ShowErrorModal = false;  ErrorMessage = string.Empty;
        SearchType = e.Value?.ToString() ?? "";
        SearchParamError = string.Empty;
        if (SearchType == Globals.DateModifiedFilter)
        {
            ShowSearchParam = false;
            return;
        }
        else
        {
            ShowSearchParam = true;
        }
        if (!string.IsNullOrEmpty(FilterParameter))
        {
            DoFilter(SearchType, FilterParameter);
        }
    }
    private void DateFilterClick(MouseEventArgs e)
    {
        SearchParamError = string.Empty;

        if (!DateFrom.HasValue)
        {
            SearchParamError = "Please insert a Date-From";
            return;
        }
        if (!DateTo.HasValue)
        {
            SearchParamError = "Please insert a Date-To";
            return;
        }
        if (DateFrom.Value > DateTo.Value)
        {
            SearchParamError = "Date-From must be earlier or the same as Date-To";
            return;
        }
        // Set to last minute of the day
        DateTo = DateTo.Value.AddHours(23).AddMinutes(59);

        FilteredList.Clear();
        FilteredList = Repo.PersonList.Where(x => x.ModifiedDate >= DateFrom && x.ModifiedDate <= DateTo).ToList();
    }
    private void ShowHelpSearchParamClick()
    {
        ShowErrorModal = false;  ErrorMessage = string.Empty;
        ShowHelpModal = true;
    }
    private void HideHelpModalClick()
    {
        ShowHelpModal = false;
    }
    private void SearchParamOnInput(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            if (string.IsNullOrEmpty(e.Value.ToString()))
            {
                FilterParameter = string.Empty;
                FilteredList.Clear();
                return;
            }

        }
        if (Globals.StringCharsOK(e.Value?.ToString() ?? ""))
        {
            SearchParamError = string.Empty;
            FilterParameter = e.Value?.ToString() ?? "";
            DoFilter(SearchType, FilterParameter);
            return;
        }
        else
        {
            FilteredList.Clear();
            SearchParamError = "Search parameter can only have letters in the range A-Z, a-z, digits in the range 0-9, spaces or a dash('-') It cannot be more than 20 characters long.";
            return;
        }
    }
    private void PersonButtonClick(Guid id)  //Could be Edit or New Button
    {
        ShowPersonModal = false;
        if (id == Guid.Empty) //This is a new record
        {
            SelectedPerson = new Person();
            SelectedPerson.ModifiedDate = Globals.GetUKDateTime();
            SelectedPerson.Id = Guid.Empty;  // Signals that this record must be saved
            ModalHeaderColour = "bg-success";
            ModalTitleCaption = "New Person";
        }
        else
        {
            ModalHeaderColour = "bg-primary";
            ModalTitleCaption = "Edit Person";
            Person? person = Repo.PersonList.FirstOrDefault(p => p.Id == id);
            if (person == null)
            {
                SelectedPerson = new();
            }
            else
            {
                SelectedPerson = person;
            }
            //StateHasChanged();
        }
        ShowPersonModal = true;
    }
    private void OnSubmitPerson(EditContext context)
    {
        ShowErrorModal = false;  ErrorMessage = string.Empty;
        bool formIsValid = context.Validate();
        if (formIsValid)
        {
            PersonModalDangerMessage = string.Empty;
        }
        else
        {
            PersonModalDangerMessage = "There are input errors, please check the form";
            return;
        }
        if (SelectedPerson.Title == SelectString)
        {
            PersonModalDangerMessage = "Please select a title";
            return;
        }
        if (SelectedPerson.MiddleName == null)
        {
            SelectedPerson.MiddleName = string.Empty;
        }
        SelectedPerson.ModifiedDate = Globals.GetUKDateTime();

        if (SelectedPerson.Id == Guid.Empty)
        {
            // This is a new record
            SelectedPerson.Id = Guid.NewGuid();
            // Prevent malign attacks
            if (Repo.PersonList.Count < 900) // 847 in the json file
            {
                Repo.PersonList.Insert(0, SelectedPerson);
                //FilteredList.Insert(0, SelectedPerson);
            }
        }
        else
        {
            int index = Repo.PersonList.FindIndex(x => x.Id == SelectedPerson.Id);
            if (index == -1)
            {
                ErrorMessage = "Can't find person record with the ID: " + SelectedPerson.Id;
                ShowErrorModal = true;
                return;
            }
                Repo.PersonList[index] = SelectedPerson;
                //FilteredList.Insert(0, SelectedPerson);
        }
        HidePersonModalClick();
    }
    private void HidePersonModalClick()
    {
        ShowPersonModal = false;
        PersonModalDangerMessage = string.Empty;
    }
    private void DeleteClick(string id)
    {
        Person? person = Repo.PersonList.Find(p => p.Id.ToString() == id);
        if (person == null)
        {
            ErrorMessage = "Delete Click. Can't find person with ID: " + id;
            ShowErrorModal = true;
            return;
        }
        else
        {
            SelectedPerson = person;
            ShowDeleteModal = true;
        }
    }
    private void DeleteSelectedPerson(string id)
    {
        Person? person = Repo.PersonList.SingleOrDefault(r => r.Id.ToString() == id);
        if (person == null)
        {
            ErrorMessage = "Delete Selected Person: Can't find selected person with ID: " + id;
            ShowErrorModal = true;
            return;
        }
        else
        {
            FilteredList.Remove(person);
        }
        ShowDeleteModal = false;
    }
    private void HideDeleteModalClick()
    {
        ShowDeleteModal = false;
    }
    private void DoFilter(string searchType, string FilterParameter)
    {
        FilteredList.Clear();
        if (FilterParameter.Length == 0)
        {
            return;
        }
        switch (searchType)
        {
            case Globals.LastNameStarts:
                FilteredList = Repo.PersonList.Where(x => x.LastName.ToLower().StartsWith(FilterParameter.ToLower())).ToList();
                break;
            case Globals.LastNameContains:
                FilteredList = Repo.PersonList.Where(x => x.LastName.ToLower().Contains(FilterParameter.ToLower())).ToList();
                break;
            case Globals.FirstNameStarts:
                FilteredList = Repo.PersonList.Where(x => x.FirstName.ToLower().StartsWith(FilterParameter.ToLower())).ToList();
                break;
            case Globals.FirstNameContains:
                FilteredList = Repo.PersonList.Where(x => x.FirstName.ToLower().Contains(FilterParameter.ToLower())).ToList();
                break;
            case Globals.IDBegins:
                FilteredList = Repo.PersonList.Where(x => x.Id.ToString().StartsWith(FilterParameter)).ToList();
                break;
            case Globals.EmailAddressStarts:
                FilteredList = Repo.PersonList.Where(x => x.EmailAddress.ToLower().StartsWith(FilterParameter.ToLower())).ToList();
                break;
            case Globals.PhoneContains:
                FilteredList = Repo.PersonList.Where(x => x.Phone.ToLower().Contains(FilterParameter.ToLower())).ToList();
                break;
        }
    }
}

